
    

footer{background-color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white; } 

.card-footer{background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color: white; } 
    .text-muted{color:white;}
    

