html,body{text-align: left; 
}

.jumbotron {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9b21+0,f4c8a8+99,f4c8a8+99,f4c8a8+99 */
    background: #ff9b21; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff9b21 0%, #f4c8a8 99%, #f4c8a8 99%, #f4c8a8 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff9b21 0%,#f4c8a8 99%,#f4c8a8 99%,#f4c8a8 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff9b21 0%,#f4c8a8 99%,#f4c8a8 99%,#f4c8a8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b21', endColorstr='#f4c8a8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 8px; 
    border-color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black; 
    height: 365px;
}
.map{ height: 180px;
    width: 180px;
background-color: white;}
