
body,html,nav{background-color: white;

body,html,nav{

    font-family: 'Ubuntu', sans-serif;}
 a{ color: black;}
 a.active {
    background-color: #4CAF50;
    color: white;} 

    .logo,.navbar-brand{text-align: right;
    font: 40px;  }