body,html{background-color: #FF8B00;}

.topnav {
    background-color:orange;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a { display: inline-block;
    float: center;
    color:orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover { display: inline-block;
    background-color: black;
    color: orange;
}

/* Add a color to the active/current link */
.nav a.active { display: inline-block;
    background-color:orangered;
    color: white;
}
